<div class="image-container custom-scrollbar">
  <p class="liner">2024</p>
  <ul class="thumbnail-list">
    <li>
      <app-image-viewer></app-image-viewer>
    </li>
    <li>
      <app-image-viewer></app-image-viewer>
    </li>
    <li>
      <app-image-viewer></app-image-viewer>
    </li>
    <li>
      <app-image-viewer></app-image-viewer>
    </li>
    <li>
      <app-image-viewer></app-image-viewer>
    </li>
    <li>
      <app-image-viewer></app-image-viewer>
    </li>
    <li>
      <app-image-viewer></app-image-viewer>
    </li>
    <li>
      <app-image-viewer></app-image-viewer>
    </li>
    <li>
      <app-image-viewer></app-image-viewer>
    </li>
    <li>
      <app-image-viewer></app-image-viewer>
    </li>
  </ul>
</div>
