<div class="main-container">
  @if (isLoggedIn) {
  <app-action-sidebar></app-action-sidebar>
  }
  <div class="content">
    @if (isLoggedIn) {
    <app-gallery></app-gallery>
    } @else {
    <app-dialog-box>
      <div class="banner"></div>
      <div class="container">
        @if (isLoginVisible) {
        <app-login></app-login>
        <div class="action-container">
          <a href="javascript:void(0)" (click)="toggleCreateAccount()"
            >Need an account?</a
          >
        </div>
        } @else if (isSignupVisible) {
        <app-create-account></app-create-account>
        <div class="action-container">
          <a href="javascript:void(0)" (click)="toggleLogin()"
            >Already have an account?</a
          >
        </div>
        } @else {
        <img
          class="logo"
          width="124px"
          src="logo-compact.png"
          alt="Welcome! Memories On The Go"
        />
        <h1 class="title">All your memories in one place</h1>
        <p class="p1">Free photo storage for everyone.</p>
        <button type="button" class="button space-mid" (click)="toggleLogin()">
          Start Uploading
        </button>
        }
      </div>
    </app-dialog-box>
    }
  </div>
</div>
