<div class="main-container">
  <div class="navbar">
    <div class="user-wrapper">
      <span class="material-symbols-outlined">badge</span>
    </div>
    <div class="action-wrapper">
      <div class="action">
        <span class="material-symbols-outlined">settings</span>
      </div>
      <div class="action">
        <span class="material-symbols-outlined">logout</span>
      </div>
    </div>
  </div>
  <!-- <div class="content">
    <div class="card">
      <div class="banner">
        <img
          class="logo"
          width="124px"
          src="logo-compact.png"
          alt="Welcome! Memories On The Go"
        />
        <h1 class="title">All your memories in one place</h1>
        <p class="p1">Free photo storage for everyone.</p>
        <button type="button" class="button space-mid">Start Uploading</button>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Username" />
          <button type="button" class="input-group-button">
            <em class="material-symbols-outlined">chevron_right</em>
          </button>
        </div>
      </div>
    </div>
  </div> -->
  <div class="image-container custom-scrollbar">
    <p class="liner">2024</p>
    <ul class="thumbnail-list">
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 1"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 2"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 3"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 4"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 5"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 6"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 7"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 8"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 9"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 10"
        />
      </li>
    </ul>
    <p class="liner">2023</p>
    <ul class="thumbnail-list">
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 1"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 2"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 3"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 4"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 5"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 6"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 7"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 8"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 9"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 10"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 1"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 2"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 3"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 4"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 5"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 6"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 7"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 8"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 9"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 10"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 1"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 2"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 3"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 4"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 5"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 6"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 7"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 8"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 9"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 10"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 1"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 2"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 3"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 4"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 5"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 6"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 7"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 8"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 9"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 10"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 1"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 2"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 3"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 4"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 5"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 6"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 7"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 8"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 9"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 10"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 1"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 2"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 3"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 4"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 5"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 6"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 7"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 8"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 9"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 10"
        />
      </li>
    </ul>
    <p class="liner">2022</p>
    <ul class="thumbnail-list">
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 1"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 2"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 3"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 4"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 5"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 6"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 7"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 8"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 9"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 10"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 1"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 2"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 3"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 4"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 5"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 6"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 7"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 8"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 9"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 10"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 1"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 2"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 3"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 4"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 5"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 6"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 7"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 8"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 9"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 10"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 1"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 2"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 3"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 4"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 5"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 6"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 7"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 8"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 9"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 10"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 1"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 2"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 3"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 4"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 5"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 6"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 7"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 8"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 9"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 10"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 1"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 2"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 3"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 4"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 5"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 6"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 7"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 8"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 9"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 10"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 1"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 2"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 3"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 4"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 5"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 6"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 7"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 8"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 9"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 10"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 1"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 2"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 3"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 4"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 5"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 6"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 7"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 8"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 9"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 10"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 1"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 2"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 3"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 4"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 5"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 6"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 7"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 8"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 9"
        />
      </li>
      <li>
        <img
          class="thumbnail"
          src="https://placehold.co/600x400"
          alt="Image 10"
        />
      </li>
    </ul>
  </div>
</div>
